<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectList">
	SELECT *
		FROM (
		       SELECT ROWNUM RNUM, A.*
		       FROM (
                  SELECT
                          VOTE_NO
                        , MEM_NO
                        , NICKNAME
                        , VOTE_TITLE
                        , COUNT
                     FROM VOTE V
                     JOIN MEMBER USING(MEM_NO)
                    WHERE V.STATUS = 'Y'
                    ORDER
                       BY VOTE_NO DESC
		            ) A
		     )
	WHERE RNUM BETWEEN ? AND ?
	</entry>

	<entry key="selectListCount">
	SELECT 
	       COUNT(*) COUNT
	  FROM VOTE
	 WHERE STATUS = 'Y'
	</entry>

	<entry key="insertVote">
	INSERT 
	  INTO VOTE
       (
       	 VOTE_NO
       , MEM_NO
	     , VOTE_TITLE
	     , BOOK1
       , BOOK2
       , VOTE_STARTDATE
       , VOTE_ENDDATE
       , BOOK1_URL
       , BOOK2_URL
       , STATUS
	     )
	VALUES
	     (
	       SEQ_VOTE_NO.NEXTVAL
   	   , ?
	     , ?
	     , ?
       , ?
       , SYSDATE
       , ?
       , ?
       , ?
       , 'Y'
	     )
	</entry>
	
  <entry key="increaseCount">
  UPDATE VOTE
	   SET COUNT = COUNT + 1
	 WHERE VOTE_NO = ?
	   AND STATUS = 'Y'
  </entry>
  
  <entry key="selectVote">
  SELECT 
	       VOTE_NO
	     , NICKNAME
	     , VOTE_TITLE
	     , BOOK1
	     , BOOK2
       , VOTE_STARTDATE
       , TO_CHAR(VOTE_ENDDATE, 'YYYY/MM/DD') "VOTE_ENDDATE"
       , VOTE_COUNT1
       , VOTE_COUNT2
       , BOOK1_URL
       , BOOK2_URL
       , COUNT
	     , V.STATUS
	  FROM VOTE V
	  JOIN MEMBER USING(MEM_NO)
	 WHERE VOTE_NO = ?
  </entry>
</properties>
